@import url("https://fonts.googleapis.com/css?family=Courier+Prime|Yrsa&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/btn.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
    font-family: 'Courier Prime', monospace;
	font-size: 18px;
	margin: 0px;
}

h1,h2,h3 {
	font-family: 'Courier Prime', monospace;
	font-size: 20px; }

a {
	text-decoration: none;
}